{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="mb-4 pb-4"></div>
  <section class="my-account container">
    <h2 class="page-title">Mi cuenta</h2>
    <div class="row">
      <div class="col-lg-3">
        {% include "account/includes/account-nav.html" %}
      </div>
      <div class="col-lg-9">
        <div class="page-content my-account__dashboard">
          <p>Hola <strong>{{ user.nombre }}</strong></p>
          <p>Desde el panel de control de su cuenta puede ver sus <a class="unerline-link" href="{% url "account:account_orders" %}">ordenes recientes</a> y <a class="unerline-link" href="{% url "account:account_edit" %}">editar tu contraseña y los datos de tu cuenta.</a></p>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="mb-5 pb-xl-5"></div>
{% endblock content %}