{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=maps&amp;key=AIzaSyAnKJxI0i5KGFgD3QTSg_aXbQk_Ze2kNAw&amp;v=beta&amp;callback=google.maps.__ib__"></script>
{% endblock head_js %}
{% block content %}
<main>
  <div class="mb-4 pb-4"></div>
  <section class="contact-us container">
    <div class="mw-930">
      <h2 class="page-title">CONTACTANOS</h2>
    </div>
  </section>
  
  <section class="google-map mb-5">
    <h2 class="d-none">Contactanos</h2>
    <div id="map" class="google-map__wrapper"></div>
  </section>

  <section class="contact-us container">
    <div class="mw-930">
      <div class="row mb-5">
        <div class="col-lg-6">
          <h3 class="mb-4">Lima</h3>
          <p class="mb-4">Mateo Pumacahua 2520, Lince 51015, Lima <br>Peru</p>
          <p class="mb-4">sale@uomo.com<br>+51 951 245 586</p>
        </div>
        <div class="col-lg-6">
          <h3 class="mb-4">Arequipa</h3>
          <p class="mb-4">Mateo Pumacahua 2520, Lince 51015, Arequipa <br>Peru</p>
          <p class="mb-4">sale@uomo.com<br>+51 951 245 586</p>
        </div>
      </div>
      <div class="contact-us__form">
        <form name="contact-us-form" class="needs-validation" novalidate>
          <h3 class="mb-5">Get In Touch</h3>
          <div class="form-floating my-4">
            <input type="text" class="form-control" id="contact_us_name" placeholder="Name *" required>
            <label for="contact_us_name">Nombre *</label>
          </div>
          <div class="form-floating my-4">
            <input type="email" class="form-control" id="contact_us_email" placeholder="Email address *" required>
            <label for="contact_us_name">Correo electrónico *</label>
          </div>
          <div class="my-4">
            <textarea class="form-control form-control_gray" placeholder="Su mensaje..." cols="30" rows="8" required></textarea>
          </div>
          <div class="my-4">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<div class="mb-5 pb-xl-5"></div>
{% endblock content %}

{% block extra_js %}
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
  ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "weekly"});</script>
<script>
  let map;

  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");

    map = new Map(document.getElementById("map"), {
      center: { lat: -34.397, lng: 150.644 },
      zoom: 8,
    });
  }

initMap();
</script>
{% endblock extra_js %}