{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
      <h2 class="page-title">Orden recibida</h2>
      <div class="order-complete">
        <div class="order-complete__message">
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#B9A16B"/>
            <path d="M52.9743 35.7612C52.9743 35.3426 52.8069 34.9241 52.5056 34.6228L50.2288 32.346C49.9275 32.0446 49.5089 31.8772 49.0904 31.8772C48.6719 31.8772 48.2533 32.0446 47.952 32.346L36.9699 43.3449L32.048 38.4062C31.7467 38.1049 31.3281 37.9375 30.9096 37.9375C30.4911 37.9375 30.0725 38.1049 29.7712 38.4062L27.4944 40.683C27.1931 40.9844 27.0257 41.4029 27.0257 41.8214C27.0257 42.24 27.1931 42.6585 27.4944 42.9598L33.5547 49.0201L35.8315 51.2969C36.1328 51.5982 36.5513 51.7656 36.9699 51.7656C37.3884 51.7656 37.8069 51.5982 38.1083 51.2969L40.385 49.0201L52.5056 36.8996C52.8069 36.5982 52.9743 36.1797 52.9743 35.7612Z" fill="white"/>
          </svg>
          <h3>Tu orden se ha completado!</h3>
          <p>Muchas gracias. Tu orden ha sido recibida.</p>
        </div>
        <div class="order-info">
          <div class="order-info__item">
            <label>Numero de orden</label>
            <span>#{{ orden.order_number}}</span>
          </div>
          <div class="order-info__item">
            <label>Fecha</label>
            <span>{{ orden.fecha|date:"d/m/Y" }}
            </span>
          </div>
          <div class="order-info__item">
            <label>Total</label>
            <span>${{ orden.get_total_tax }}</span>
          </div>
          <div class="order-info__item">
            <label>Pagado</label>
            <td>
              {% if orden.pagado %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(29, 181, 8, 1);transform: ;msFilter:;"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(239, 13, 13, 1);transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
              {% endif %}
            </td>
          </div>
          <div class="order-info__item">
            <label>Estado</label>
            {% if orden.estado == 'pendiente' %}
            <span style="
              background-color: #eb9234; 
              padding: 5px; 
              text-align: center;
              border-radius: 5px;
              color: white;
              text-transform: capitalize;
              font-size: 13px;
              width: max-content;
              "
              >{{ orden.estado }}</span>
            {% elif orden.estado == 'en camino' %}
            <span style="
              background-color: cornflowerblue; 
              padding: 5px; 
              text-align: center;
              border-radius: 5px;
              color: white;
              text-transform: capitalize;
              font-size: 13px;
              width: max-content;
              "
              >{{ orden.estado }}</span>
            {% elif orden.estado == 'entregado' %}
            <span style="
              background-color: green; 
              padding: 5px; 
              text-align: center;
              border-radius: 5px;
              color: white;
              text-transform: capitalize;
              font-size: 13px;
              width: max-content;
              "
              >{{ orden.estado }}</span>
            {% endif %}
          </div>
        </div>
        <div class="checkout__totals-wrapper">
          <div class="checkout__totals">
            <h3>Detalles de la orden</h3>
            <table class="checkout-cart-items">
              <thead>
                <tr>
                  <th>PRODUCTO</th>
                  <th>PRECIO</th>
                </tr>
              </thead>
              <tbody>
                {% for order_producto in orden.orden_producto.all %}
                <tr>
                  <td>
                    {{ order_producto.producto.nombre }} x {{ order_producto.cantidad }}
                  </td>
                  <td>
                    ${{ order_producto.sub_total }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <table class="checkout-totals">
              <tbody>
                <tr>
                  <th>SUBTOTAL</th>
                  <td>${{ orden.total }}</td>
                </tr>
                <tr>
                  <th>ENVIO</th>
                  <td>Envio gratis</td>
                </tr>
                <tr>
                  <th>VAT</th>
                  <td>$19</td>
                </tr>
                <tr>
                  <th>TOTAL</th>
                  <td>${{ orden.get_total_tax }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>
{% endblock content %}