{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="mb-4 pb-lg-3"></div>

    <section class="shop-main container">
      <h2 class="page-title fs-35">RESULTADOS PARA "{{ query }}" {%if productos %}({{ productos.count }}){%endif%}</h2>

      <div class="mb-4 pb-3"></div>

      {%if productos %}
      <div class="products-grid row row-cols-2 row-cols-md-3 row-cols-lg-4" id="products-grid" >
        {% for producto in productos %}
        <div class="product-card-wrapper">
            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
              <div class="pc__img-wrapper">
                <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                  <div class="swiper-wrapper">
                    {% for producto_imagen in producto.imagenes.all %}
                    {% if forloop.counter == 1 %}
                    <div class="swiper-slide">
                        <a href="{% url 'productos:product_detail' producto.slug %}"><img loading="lazy" src="{{ producto_imagen.imagen.url }}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                    </div><!-- /.pc__img-wrapper -->
                    {% endif %}
                    {% if forloop.counter == 2 %}
                    <div class="swiper-slide">
                        <a href="{% url 'productos:product_detail' producto.slug %}"><img loading="lazy" src="{{ producto_imagen.imagen.url }}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                    </div><!-- /.pc__img-wrapper -->
                    {% endif %}
                    {% endfor %}
                  </div>
                  <span class="pc__img-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></span>
                  <span class="pc__img-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></span>
                </div>
              </div>
  
              <div class="pc__info position-relative">
                <p class="pc__category">{{ producto.categoria }}</p>
                <h6 class="pc__title"><a href="{% url 'productos:product_detail' producto.slug %}">{{ producto.nombre }}</a></h6>
                <div class="product-card__price d-flex">
                  <span class="money price">${{ producto.precio }}</span>
                </div>
                <div class="product-card__review d-flex align-items-center">
                  <div class="reviews-group d-flex">
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                  </div>
                  <span class="reviews-note text-lowercase text-secondary ms-1">8k+ reviews</span>
                </div>
  
                <form action="{% url "account:account_wishlist_add" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ producto.id }}">
                    <button type="submit" class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0" title="Add To Wishlist">
                        <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                    </button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div><!-- /.products-grid row -->
      {% else %}
      <h1 style="text-align: center;">No se encontraron productos</h1>
      {% endif %}
    </section><!-- /.shop-main container -->
  </main>

  <div class="mb-5 pb-xl-5"></div>
{% endblock content %}