{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="mb-4 pb-4"></div>
  <section class="login-register container">
    <h2 class="d-none">Login & Register</h2>
    <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">Iniciar Sesión</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link_underscore" id="register-tab" data-bs-toggle="tab" href="#tab-item-register" role="tab" aria-controls="tab-item-register" aria-selected="false">Registro</a>
      </li>
    </ul>
    {% if messages %}
      <div class="container-message">
          {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% else %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
              {% endif %}
          {% endfor %}
      </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="tab-content pt-2" id="login_register_tab_content">
      <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel" aria-labelledby="login-tab">
        <div class="login-form">
          <form name="login-form" class="needs-validation" method="post" action="{% url "account:login_register" %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="action" value="login">
            <div class="form-floating mb-3">
              <input name="login_email" type="email" class="form-control form-control_gray" id="customerNameEmailInput1" placeholder="Email address *" required>
              <label for="customerNameEmailInput1">Correo electrónico *</label>
            </div>
  
            <div class="pb-3"></div>
  
            <div class="form-floating mb-3">
              <input name="login_password" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *" required>
              <label for="customerPasswodInput">Contraseña *</label>
            </div>
  
            <div class="d-flex align-items-center mb-3 pb-2">
              <div class="form-check mb-0">
                <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label text-secondary" for="flexCheckDefault1">Recordarme</label>
              </div>
              <a href="./reset_password.html" class="btn-text ms-auto">Olvidaste tu contraseña?</a>
            </div>
            <button class="btn btn-primary w-100 text-uppercase" type="submit">Iniciar Sesión</button>
  
            <div class="customer-option mt-4 text-center">
              <span class="text-secondary">No tienes una cuenta?</span>
              <a href="#register-tab" class="btn-text js-show-register">Crear cuenta</a>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-item-register" role="tabpanel" aria-labelledby="register-tab">
        <div class="register-form">
          {% if messages %}
              <div class="error-message">
                  {% for message in messages %}
                      {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                      {% endif %}
                  {% endfor %}
              </div>
          {% endif %}
          <form name="register-form" class="needs-validation" novalidate method="post" action="{% url "account:login_register" %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="register">
            <div class="form-floating mb-3">
              <input name="register_name" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required>
              <label for="customerNameRegisterInput">Nombre *</label>
            </div>
  
            <div class="pb-3"></div>

            <div class="form-floating mb-3">
              <input name="register_lastname" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required>
              <label for="customerNameRegisterInput">Apellido *</label>
            </div>
  
            <div class="pb-3"></div>

            <div class="form-floating mb-3">
              <input name="register_email" type="email" class="form-control form-control_gray" id="customerEmailRegisterInput" placeholder="Email address *" required>
              <label for="customerEmailRegisterInput">Correo electrónico *</label>
            </div>
  
            <div class="pb-3"></div>
  
            <div class="form-floating mb-3">
              <input name="register_password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Password *" required>
              <label for="customerPasswodRegisterInput">Contraseña *</label>
            </div>
  
            <div class="d-flex align-items-center mb-3 pb-2">
              <p class="m-0">Sus datos personales se utilizarán para apoyar su experiencia en este sitio web, para gestionar el acceso a su cuenta y para otros fines descritos en nuestra política de privacidad.</p>
            </div>
  
            <button class="btn btn-primary w-100 text-uppercase" type="submit">Registrarme</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="mb-5 pb-xl-5"></div>
{% endblock %}